.wrapper {
    background-color: transparent;
    width: 100%;
}

//Stat card
.stats-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: var(--default-margin-bottom);
}

//Chart
.chart-container {
    width: 100%;
    height: 395px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.chart-wrapper {
    height: 100%;
    border-radius: var(--default-border-radius);
    box-shadow: var(--shadow-large);
    padding: var(--default-padding);
    background-color: var(--white);

    .chart-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .chart-title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.8rem;
        color: var(--text-color);
    }

    .chart-options {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .select {
        font-size: 1.4rem;
        font-weight: 400;
        width: 160px;
        height: 31px;
        padding: 4px 12px;
        border: 1px solid rgb(209, 213, 219);
        border-radius: 8px;
        line-height: 1.25rem;
    }
}

.select:focus {
    outline: 3px solid #2563eb; // outline xanh (giống mặc định)
    outline-offset: 1px; // khoảng cách giữa border và outline
    border-color: transparent;
}

//responsive
@media (max-width: 1024px) {
    .stats-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .chart-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .stats-container {
        grid-template-columns: 1fr;
    }
}
