.wrapper {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(249, 250, 251);
    border-radius: var(--default-border-radius);
    gap: 12px;
    margin-bottom: 12px;
}

.medium {
    width: 50%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 36px;
    // height: 36px;
    // background-color: #d5e1f1;
    color: #4d41f2;
    border-radius: 5px;
}

.title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: rgb(75, 85, 99);
    margin-bottom: 8px;
}

.value {
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: rgb(17, 14, 39);
    gap: 4px;
}

.icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
