.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 250, 251);
}

.container {
    width: 100%;
    flex-direction: column;
    margin-left: 256px;
}

.content {
    padding: 24px;
    width: 100%;
}
